/* VideoConference.css */

/* General container styles */
.video-container {
    display: flex;
    justify-content: center;
 flex-direction: column;
    margin-top: 20px;
  }
  
  /* Styles for local tracks container */
  .local-tracks {
    margin: 10px;
    text-align: center;
  }
  
  .local-tracks .video-box {
 
    border-radius: 10px;
    /* background-color: rgba(30, 30, 30, 0.8); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .local-tracks video {
    width: 250px;
    border: 1px solid #007BFF;
    padding: 2px;
    border-radius: 5px;
  }
  
  /* Remote tracks container */
  .remote-tracks {
    margin: 10px;
    text-align: center;
  }
  
  .remote-tracks .video-box {

    border-radius: 10px;


    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .remote-tracks video {
    width: 250px;
    padding: 2px;
    border-radius: 5px;
  }
  
  /* Button styles */
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  button.leave {
    background-color: #DC3545;
    color: white;
  }
  
  button.mic-toggle {
    background-color: #FFC107;
    color: white;
  }
  
  button.video-toggle {
    background-color: #28A745;
    color: white;
  }
  
  button.mic-toggle.disabled {
    background-color: #6C757D;
  }
  
  button.video-toggle.disabled {
    background-color: #6C757D;
  }
  
  /* Input and join button */
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 200px;
  }
  
  button.join {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
  }
  
  button.join:disabled {
    background-color: #ccc;
  }
  